<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 	"http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database Connection Settings -->

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="connection.url">jdbc:mysql://sql12.freesqldatabase.com:3306/sql12221158</property>

		<property name="connection.username">sql12221158</property>

		<property name="connection.password">bbHI5sWyFW</property>

		<!-- Connection Pool Size (built-in) -->

		<property name="connection.pool.size">1</property>

		<!-- SQL Dialect -->

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>


		<!-- Disable the second-level cache -->

		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->

		<property name="hibernate.show_sql">true</property>

		<!-- Drop the existing tables and create new one -->

		<!-- <property name="hbm2ddl.auto">update</property> -->

		<!-- Mention here all the model classes along with their package name -->

		<mapping class="com.springMVC.MedComp.model.Userinfo" />
		<mapping class="com.springMVC.MedComp.model.Disease" />
		<mapping class="com.springMVC.MedComp.model.Symptom" />
		<mapping class="com.springMVC.MedComp.model.Mapping" />

	</session-factory>

</hibernate-configuration>